<ul class="filterlist">
    <li (click)="setFilter('none')">None</li>
    <li (click)="setFilter('hre')">HRE</li>
    <li (click)="setFilter('province_r','sunni')">SunniP</li>
    <li (click)="setFilters('tradenodes')">Trade</li>
    <!--<li (click)="setFilters('country_r','sunni')">SunniC</li>-->
    <!--<li (click)="setFilters('religious', true)">Religious</li>-->
    <li class="i"><small>Right click to switch between pan/select</small></li>
</ul>
<ul class="subfilterlist">
    <!-- depends on what filter we're on -->
</ul>