#details, .detail {
    margin: 0 10px;
    /*border: 1px solid #c3c3c3;*/
    border-radius: 0 0 10px 10px;
    padding: 10px;
    background:white;
}
#details h2, .detail h2 {
    margin-top:0;
    text-align:center;
}
#details h2 span, .detail h2 span {
    color: #eee;
    font-size:80%;
}

#details .province, #details .country {
    position:relative;
}
.showtype {
    position:absolute;
    top:10;
    left:10;
    color:DimGray;
    font-size:50%;
}

#details .province {
    
}
#details .province table {
    width: 100%;
}
#details .province .development {
    text-align:left;   
    
}
#details .province .development td {
    border: 1px solid black;
}

#details .country, #details .country .pure-g {
    width:100%;
}
div.box {
    padding:0 5px;
    background:#eeedf6;;
    border: 1px solid #938ecb;
    border-radius: 5px;
    padding-top:0;
    margin:3px;
    line-height:32px;
}
div.box a {
    color: #000;
}
div.box p {
    margin:0;
}

.development {
    display:table;
    border-spacing:5px;
    width:100%;
}
.development div.r {
    display:table-row;
    justify-content:space-between;
}
.development div.x, div.xi, div.x2 {
    display:table-cell;
    width:25%;
    padding:5px;
    background:#d1cfe4;
    border: 1px solid #584dc3;
    border-radius: 5px;
    padding-top:0;
}
.development div.x {
    padding: 5px;
}
.development div.x2 {
    width:100%;
}

/* fix for multicol table cell */
div.block {
    background:#d1cfe4;
    border: 1px solid #584dc3;
    border-radius: 5px;
    padding-top:0;
    margin: 0 5px;    
}
div.block p {
    margin: 5px;
}
div.block * a {
    color: #000;
}

img.flag32 {
    width: 32px;
    position:relative;
    top:5px;
    border: 1px solid #000;
    border-radius:2px;
    margin-right:5px;
}
.xi img, img.icon {
    width:24px;
    height:24px;
    position:relative;
    top:5px;
    margin-right:5px;
}

img.down {
    position:relative;
    top:5px;
    margin-right:5px;
}

.credits {
    border-top: 1px solid #878383;
    margin:10px;
    text-align:center;
    color: #b6b0b0;
    font-size:90%;

    text-shadow: 1px 1px 0 #000; 
}
.credits a {
    color: #b6b0b0;
}

div.x .cap, .cap {
    text-transform: capitalize;
}
div.x a {
    color: #000;
}
div.x .mid {
    text-align:center;
}

p.subjectdata {
    border-bottom: 1px solid #878383;
    text-align:center;
    font-size:80%;
}