<!--<div id="details" [hidden]="!_filters.selectedProvince">-->
<div id="details" class="detail" [hidden]="show != 'province'">
    <h2 [hidden]="unselected()">{{ sp.name }}<span>#{{ sp.id }}</span></h2>
    <div [ngClass]="{'province': true, 'pure-g': true, 'hre': sp.hre, 'ocean': sp.ocean, 'wl': sp.wasteland}" [hidden]="sp.nonp || unselected()">

        <div class="pure-u-1-4">
            <div class="box"><img class="icon" src="assets/i/Tax_income.png" />{{ sp.tax }}</div>
        </div>
        <div class="pure-u-1-4">
            <div class="box"><img class="icon" src="assets/i/Production.png" />{{ sp.prod }}</div>
        </div>
        <div class="pure-u-1-4">
            <div class="box"><img class="icon" src="assets/i/Manpower.png" />{{ sp.man }}</div>
        </div>
        <div class="pure-u-1-4">
            <div class="box tooltip-left cap" (click)="filter('tradegood', sp.trade)" data-tooltip="Show provinces with this trade good">{{ sp.trade }}</div>
        </div>

        <div class="pure-u-1-2">
            <div class="box">
                <img [src]="'assets/i/religion/' + sp.religion + '.png'" class="icon" /><a (click)="filter('province_r', sp.religion)" class="tooltip-left cap mid" data-tooltip="Provinces with this religion">{{ sp.religion }}</a>
            </div>
        </div>
        <div class="pure-u-1-2">
            <div class="box">
                <a href="#" (click)="filter('province_c', sp.culture)" class="tooltip-left cap mid" data-tooltip="Provinces with this culture">{{ sp.culture }}</a><span [hidden]="!sp.culturegroup">/</span>{{ sp.culturegroup }}
            </div>
        </div>
        <div class="pure-u-1">
            <div class="cores box" [hidden]="sp.nonp || !sp.owned">
                Cores: <span *ngFor="let core of sp.cores" [attr.data-tooltip]="countryname(core)" (click)="selection('country', core)"><img src="assets/i/flags/32/{{ core }}.png" class="flag32 down tooltip-left"/></span>
            </div>
        </div>
        <div class="pure-u-1">
            <div class="claims box" [hidden]="sp.nonp || !sp.owned">
                Claims: <span *ngFor="let core of sp.claims" [attr.data-tooltip]="countryname(core)" (click)="selection('country', claim)"><img src="assets/i/flags/32/{{ core }}.png" class="flag32 down tooltip-left"/></span>
            </div>
        </div>
    </div>
    <div class="country pure-g" [hidden]="sp.nonp || !sp.owned || unselected()">
        <h2 class="pure-u-1" style="margin-top:10px">{{ sCountry.name }}</h2>
        <div class="pure-g">

            <div class="pure-u-1-2">
                <div class="box" data-tooltip="Capital" *ngIf="countryInfo._capital" (click)="actions.commit('province', countryInfo._capital.id)">
                    <img src="assets/i/Capital.png" class="down"/>{{ countryInfo._capital.name }}
                </div>
            </div>
            <div class="pure-u-1-2">
                <div class="box" data-tooltip="Development"><img src="assets/i/Development.png" class="down" />{{ countryInfo.totalDev }}</div>
            </div>

            <div class="pure-u-1-2">
                <div class="box">
                    <img [src]="'assets/i/religion/' + sCountry.religion + '.png'" class="icon" /><a (click)="filter('country_r', sCountry.religion)" class="tooltip-left cap mid" data-tooltip="Countries with this religion">{{ sCountry.religion }}</a>
                </div>
            </div>
            <div class="pure-u-1-2">
                <div class="box">
                    <a class="tooltip-left cap mid">{{ sCountry.culture }}</a>
                </div>
            </div>
            <!-- is subject -->

            <div class="pure-u-1" [hidden]="!countryInfo.subject_data">
                <div class="box" *ngIf="countryInfo.subject_of != undefined">
                    <span [hidden]="countryInfo.subject_of.subject_type != 'vassal'">Vassal of</span>
                    <span [hidden]="countryInfo.subject_of.subject_type != 'personal_union'">Union under</span>
                    <span [hidden]="countryInfo.subject_of.subject_type != 'march'">March of </span>
                    <span [hidden]="countryInfo.subject_of.subject_type != 'tributary_state'">Tributary of </span>
                    <span [hidden]="countryInfo.subject_of.subject_type != 'daimyo_vassal'">Daimyo of </span>
                    <img class="down" [src]="flag(countryInfo.subject_of.first)" /><a (click)="selection('country', countryInfo.subject_of.first)">{{ countryname(countryInfo.subject_of.first) }}</a>
                </div>
            </div>
            <div class="pure-u-1" *ngIf="countryInfo.has_subjects">
                <div class="box">
                    <p *ngFor="let subj  of subjects(countryInfo.subjects)" class="tooltip-left" [attr.data-tooltip]="subj[0][0]">
                        <img [src]="'assets/i/' + subj[0][1]" class="down" /><a (click)="selection('country', subj[2])">{{ subj[1] }}</a>
                    </p>
                </div>
            </div>

        </div>
    </div>
</div>

<div id="tradenode" class="detail" [hidden]="show != 'tradenode'">
    <h2>{{ tnode.name }}</h2>
</div>

<!-- div for displaying details about the filtered object -->
<div id="filterdetails" [hidden]="_filters.selectedProvince">
    <h2>MAP DEETAILS</h2>
</div>

<!--
<div id="listDetails" [hidden]="!_filters.selectedList">
    <h3>Arbitrary Lists</h3>
</div>
-->

<div class="credits">
    <p>Europa Universalis Map &middot; 2018 &middot; <a href="https://github.com/paimoe/eu4map">github</a></p>
</div>