<!--<div id="details" [hidden]="!_filters.selectedProvince">-->
<div id="details">
    <h2 [hidden]="unselected()">{{ selectedProvince.name }}<span>#{{ selectedProvince.id }}</span></h2>
    <div [ngClass]="{'province':true, 'hre': sp.hre, 'ocean': sp.ocean, 'wl': sp.wasteland}" [hidden]="sp.nonp || unselected()">
        <div class="development">
            <div class="r">
                <div class="xi"><img src="assets/i/Tax_income.png" />{{ sp.tax }}</div>
                <div class="xi"><img src="assets/i/Production.png" />{{ sp.prod }}</div>
                <div class="xi"><img src="assets/i/Manpower.png" />{{ sp.man }}</div>
                <div class="xi tooltip-left cap" (click)="filter('tradegood', selectedProvince.trade)" data-tooltip="Show provinces with this trade good">{{ sp.trade }}</div>
            </div>
        </div>
        <div class="development">
            <div class="r">
                <!-- check if htese match the national ones -->
                <div class="x" style="width:50%"><a href="#" (click)="filter('province_r', selectedProvince.religion)" class="tooltip-left cap mid" data-tooltip="Provinces with this religion">{{ sp.religion }}</a></div>
                <div class="x" style="width:50%"><a href="#" (click)="filter('province_c', selectedProvince.culture)" class="tooltip-left cap mid" data-tooltip="Provinces with this culture">{{ sp.culture }}</a><span [hidden]="!sp.culturegroup">/</span>{{ sp.culturegroup }}</div>
            </div>
        </div>
        <div class="cores" [hidden]="sp.nonp || !sp.owned">
            Cores: <span *ngFor="let core of sp.cores"><img src="assets/i/flags/32/{{ core }}.png" [attr.data-tooltip]="'Core of ' + core" class="flag32 down tooltip-left"/></span>
        </div>
        <div class="claims" [hidden]="sp.nonp || !sp.owned">
            Claims: <span *ngFor="let core of sp.claims"><img src="assets/i/flags/32/{{ core }}.png" [attr.data-tooltip]="'Claim of ' + core" class="flag32 down tooltip-left"/></span>
        </div>
    </div>
    <div class="country" [hidden]="sp.nonp || !sp.owned || unselected()">
        <h2>{{ sCountry.name }}</h2>
        <div class="development">
            <div class="r">
                <div class="x">{{ countryInfo.totalDev }} dev</div>
                <div class="x">
                    <a href="#" class="tooltip-left cap mid" data-tooltip="Countries with this religion">{{ sCountry.religion }}</a>
                </div>
                <div class="x">
                    <a href="#" class="tooltip-left cap mid" data-tooltip="Countries with this culture">{{ sCountry.culture }}</a>
                </div>

                <!-- subjects -->
            </div>
            <div class="r">

                <div class="x">
                    IS subejct of {{ sp.is_subject }}
                </div>
            </div>
        </div>
        <!-- x uncontrolled cores -->
    </div>
</div>

<!-- div for displaying details about the filtered object -->
<div id="filterdetails" [hidden]="_filters.selectedProvince">
    <h2>MAP DEETAILS</h2>
</div>

<!--
<div id="listDetails" [hidden]="!_filters.selectedList">
    <h3>Arbitrary Lists</h3>
</div>
-->

<div class="credits">
    <p>EU4Map &middot; 2018 &middot; <a href="https://github.com/paimoe/eu4map">github</a></p>
</div>