/* You can add global styles to this file, and also import other style files */
.overlay {
  fill: none;
  pointer-events: all;
}
.pa {
    pointer-events: all;
}
.pn {
    pointer-events: none;
}
path.hover {
    stroke: white;
    stroke-width: 5px;
    opacity:0.8;
}

/* Provinces */
.pwaste {
    fill: #414141 !important;
}
.psea {
    fill: #28393c !important;
}
.pnobody {
    fill: DimGray !important;
}
.filtered {
    fill: black !important;
}
.pinactive {
    fill: gray !important;
}

/* filter list */
.filterlist {
    display:table;
    padding-left:10px;
}
.filterlist li {
    display:table-cell;
    cursor: pointer;
    text-decoration:underline;
    padding:5px;
}
.filterlist li:hover {
    text-decoration: none;
}

.subfilterlist {
    display:none;
}